<header>
  <h2>Quizz</h2>
  <nav>
    <ul>
      <% if(title == "Add question"){ %>
      <li><a href="/">Answer some questions</a></li>
      <%}else if(title=="Quizz") {%>
      <li><a href="/add">Add a question</a></li>
      <%}%>
    </ul>
  </nav>
</header>
