<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/_head") %>
  </head>
  <body>
    <%- include("partials/_header") %>
    <div class="page-container">
      <div class="form-container">
        <form action="/add" method="post">
          <h1>Add a new question</h1>
          <input
            type="text"
            name="question"
            placeholder="Your question"
            class="question input"
            id="questionInput"
          />
          <h2>Check the good answer</h2>
          <div class="anwser">
            <input type="checkbox" name="isGood1" class="check" id="cb1" />
            <label for="isGood1"></label>
            <input
              type="text"
              name="answer1"
              placeholder="First-answer"
              class="input input-form"
              id="a1"
            />
          </div>
          <div class="answer">
            <input type="checkbox" name="isGood2" class="check" id="cb2" />
            <label for="isGood2"></label>
            <input
              type="text"
              name="answer2"
              placeholder="Second-answer"
              class="input input-form"
              id="a2"
            />
          </div>
          <div class="answer">
            <input type="checkbox" name="isGood3" class="check" id="cb3" />
            <label for="isGood3"></label>
            <input
              type="text"
              name="answer3"
              placeholder="Third-answer"
              class="input input-form"
              id="a3"
            />
          </div>
          <div class="answer">
            <input type="checkbox" name="isGood4" class="check" id="cb4" />
            <label for="isGood4"></label>
            <input
              type="text"
              name="answer4"
              placeholder="Fourth-answer"
              class="input input-form"
              id="a4"
            />
          </div>
          <button type="submit">Ajouter</button>
        </form>
      </div>
    </div>
  </body>
</html>
