.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  margin-top: 5%;
  background: $bg1;
  width: 60%;
  color: $color2;
  padding: 2.5%;
  border-radius: 50px;
  max-width: 900px;

  h1 {
    text-align: center;
    font-size: 3rem;
  }
  .input {
    padding: 1.75%;
    background: $bg1;
    border-radius: 50px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      background: $color2;
      color: $color1;
    }
    &:active {
      background: $color2;
      color: $color1;
    }
  }
  .question {
    margin: 5% 25%;
    width: 50%;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    h2 {
      margin-top: 2%;
      margin-bottom: 3%;
      font-size: 2rem;
    }
    .input-form {
      width: 50%;
      margin: 1.5% 2.5%;
      &:active {
        background: $bg1;
      }
    }

    input[type="checkbox"] + label:after {
      color: red;
      content: "Wrong answer";
      font-size: 1.5rem;
      margin-left: 1.5%;
    }

    input[type="checkbox"]:checked + label::after {
      color: lightgreen;
      content: "Good answer";
    }
    button {
      max-width: 15%;
      min-width: 60px;
      padding: 2%;
      border-radius: 50px;
      margin-top: 2.5%;
      background: black;
      color: white;
      transition: 0.5s;

      &:hover {
        transform: scale(1.25);
      }
      &:active {
        transform: scale(1.5);
      }
    }
  }
}
